
body{
  background-color: skyblue;
}

.bottom-container{
  margin-top: 260px;
  text-align: center;
  background-color: green;
  width: 100%;
  height: 40px;
}

h1{
  color:darkblue;
  text-align: center;
}

h2{
  color:darkblue;
}

.Textdetails{
  float: right;
}

hr {
  border-color: green;
  border-width: 1px;
  border-style: none;
  border-top-style: dashed;
  margin-top: 25px;
  width: 100%;
}

.AN {
  position: relative;
  top: 0px;
  width: 400px;
  height: 200px;
}

.AK {
  position: relative;
  top: 5px;
  left: 3px;
  width: 400px;
  height: 200px;
}

.SO2 {
  position: relative;
  top: 210px;
  right: 400px;
  width: 400px;
  height: 200px;
}
